header,
main {
    background-color: rgba(255, 165, 2, 0.5);
}

.section1,
.section3,
.section4,
.section6 {
    background-color: #fdfafa;
}

a {
    text-decoration: none;
}

nav {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
}

.logo {
    font-family: Poppins;
    font-style: italic;
    font-weight: 600;
    font-size: 21px;
    color: #3C227C;
    padding-left: 112px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu {
    color: #373F41;
    margin-left: 15px;
    margin-right: 15px;
}

.sign .menu {
    color: #3C64B1;
}

.sign {
    justify-self: center;
}

.sign button {
    width: 90px;
    height: 42px;
    background-color: #F73C6B;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 12px 18px 12px 18px;
}

.sign button,
.menu,
.contact {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}


.main {
    height: 580px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.maintext {
    width: 500px;
    padding: 50px 150px 70px 50px;
}

.main img {
    padding-left: 90px;
}

h2 {
    font-family: Poppins;
    font-style: normal;
    font-size: 52px;
    line-height: 56px;
    color: #373F41;
}

.maintext div {
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #737B7D;
    margin-bottom: 55px;
}

.contact {
    border: 1px solid #F73C6B;
    color: #F73C6B;
    padding: 12px 18px 12px 18px;
}

.section1,
.section3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #282828;
}



.section1 {
    width: 100vw;
    height: 750px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 200px 1fr;
    align-items: center;
}

.sec1-text1,
.sec1-text2,
.sec1-text3 {
    box-sizing: border-box;
    border-radius: 15px;
    width: 588px;
    height: 135px;
    padding: 27px 27px 24px 30px;
    margin-left: 122px;
}

.sec1-text2,
.sec1-text3 {
    box-shadow: 0 12px 35px rgba(171, 8, 96, 0.05);
}

.sec1-text1 {
    background-color: #4F55DD;
    color: #FFFFFF;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
}

.sec1-text2 {
    background-color: #FFFFFF;
    grid-row: 2/3;
    grid-column: 1/2;
}

.sec1-text3 {
    background-color: #FFFFFF;
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: start;
}

.sec1-img {
    grid-row: 1/4;
    grid-column: 2/3;
}


.section2 {
    height: 305px;
    background-color: rgba(46, 213, 115, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.section2 div {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    color: #4F4F4F;
    width: 471px;
    height: 160px;
    padding-left: 122px;
}

.section3 {
    height: 530px;
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(2, 126px);
    align-content: center;
    row-gap: 72px;
    column-gap: 66px;
    padding-left: 122px;
}

.section3 p {
    margin: 0;
}

.item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.item2 {
    grid-row: 1/2;
    grid-column: 4/5;
}

.item3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.item4 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.item5 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.item6 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.section4 {
    height: 582px;
    padding-left: 122px;
}

.sec4-grid {
    display: grid;
    grid-template-columns: 472px 35%;
    column-gap: 170px;
    align-items: center;
}

.section4 h3,
.sec4-text1 {
    font-family: Poppins;
    font-style: normal;
    line-height: 56px;
    color: #373F41;
}

.section4 h3 {
    font-weight: 600;
    font-size: 23px;
}

.sec4-text1 {
    font-weight: 300;
    font-size: 52px;
    margin-top: 23px;
    margin-bottom: 30px;
}

.sec4-text2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #737B7D;
}



.section5 {
    height: 450px;
    padding-left: 122px;
    font-family: Poppins;
    font-style: normal;
    background-color: rgba(255, 71, 87, 0.5);
    display: grid;
    grid-template-columns: 1fr 870px;
    grid-template-rows: 450px;
    align-items: center;

}


.section5 h3 {
    font-weight: 600;
    font-size: 37px;
    line-height: 56px;
    color: #4F4F4F;

}

input {
    height: 42px;
    width: 272px;
    padding-left: 16px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.section5 button {
    height: 42px;
    width: 103px;
    margin-left: 24px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background-color: #F73C6B;
    color: #FFFFFF;
}

.section6 {
    font-family: Poppins;
    font-style: normal;
    padding: 65px 122px 125px 110px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 132px 400px;
    column-gap: 32px;
    row-gap: 50px;
    justify-content: space-between;

}

.section6 h3 {
    grid-row: 1/2;
    grid-column: 1/3;

    font-weight: 600;
    font-size: 52px;
    line-height: 57px;
    margin: 0;

}

.sec6-team {
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: end;
    align-self: center;
}

.sec6-link {
    text-decoration: underline;
    color: #E5E5E5;
    margin-right: 35px;
}


.sec6-block1,
.sec6-block2,
.sec6-block3 {
    border: 1px solid blue;
    box-sizing: border-box;
    width: 377px;
    border-radius: 12px;
    padding: 40px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.section6 h4 {
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    margin: 0;

    border: 1px solid red;
}

.sec6-link,
.sec6-below {
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;

    border: 1px solid red;
}

.sec6-below {
    margin: 0;
}

.sec6-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;

    border: 1px solid red;
}



footer {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #00000050;

    border: 1px solid red;
    height: 560px;
    width: 100%;
    background-color: rgba(46, 213, 115, 0.5);
}

.footer-grid {
    height: 80%;
    width: 85%;
    margin-top: 43px;
    margin-left: 122px;
    display: grid;
    grid-template-columns: 45% 1fr 1fr 1fr;
    grid-template-rows: 15% 40% 15% 20% 10%;

}

.cities {
    grid-column: 1/5;
    grid-row: 3/4;
}

.pay {
    grid-column: 1/5;
    grid-row: 4/5;
}

.rights {
    grid-column: 1/2;
    grid-row: 5/6;
}

.terms {
    grid-column: 4/5;
    grid-row: 5/6;
    color: #494949;
}

.footer-menu1 a,
.footer-menu2 a,
.footer-menu3 a {
    font-size: 16px;
    line-height: 22px;
    color: #555555;
}

.logo#footer {
    padding-left: 0;
}

.footer-text {
    font-size: 16px;
    line-height: 22px;
    color: #454646;
    width: 445px;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-grid p {
    margin: 0;
}

.cities {
    color: #000000;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.cities p {
    margin-left: 15px;
    margin-right: 15px;
}


.pay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pay img {
    margin-left: 10px;
    margin-right: 10px;
}